<a href="https://colab.research.google.com/github/Bhanuvedithreddy/mlflaskapp/blob/main/AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data ={
    "age" : [25,30,35,40,45],
    "height":[150,160,170,180,190],
    "weight":[50,60,70,80,90]
}
df = pd.DataFrame(data)
print(df)
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)
normalized_df = pd.DataFrame(normalized_data,columns = df.columns)
print("\n Normalized Data frmae (scaled to range[0,1]):")
print(normalized_df)

   age  height  weight
0   25     150      50
1   30     160      60
2   35     170      70
3   40     180      80
4   45     190      90

 Normalized Data frmae (scaled to range[0,1]):
    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
data = {
    "Customer_id":[1,2,3,4,5],
    "Gender":["Male","Female","Male","Female","Male"],
    "City":["Hyderbad","Pune","Banglore","Mumbai","Delhi"],
    "fruits":["Apple","Banana","Mango","Apple","Banana"]
}

df = pd.DataFrame(data)
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)
columns_of_encode = ["Gender","City","fruits"]
encoded_data = one_hot_encoder.fit_transform(df[columns_of_encode])
encode_colums=one_hot_encoder.get_feature_names_out(columns_of_encode)
encoded_df = pd.DataFrame(encoded_data,columns=encode_colums)
print("\n Encoded Data Frame:")
print(encoded_df)

   Customer_id  Gender      City  fruits
0            1    Male  Hyderbad   Apple
1            2  Female      Pune  Banana
2            3    Male  Banglore   Mango
3            4  Female    Mumbai   Apple
4            5    Male     Delhi  Banana

 Encoded Data Frame:
   Gender_Female  Gender_Male  City_Banglore  City_Delhi  City_Hyderbad  \
0            0.0          1.0            0.0         0.0            1.0
1            1.0          0.0            0.0         0.0            0.0
2            0.0          1.0            1.0         0.0            0.0
3            1.0          0.0            0.0         0.0            0.0
4            0.0          1.0            0.0         1.0            0.0

   City_Mumbai  City_Pune  fruits_Apple  fruits_Banana  fruits_Mango
0          0.0        0.0           1.0            0.0           0.0
1          0.0        1.0           0.0            1.0           0.0
2          0.0        0.0           0.0            0.0           1.0
3          1.0        0.0           1.0            0.0           0.0
4          0.0        0.0           0.0            1.0           0.0

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data = {
    "Customer_id":[1,2,3,4,5],
    "Gender":["Male","Female","Male","Female","Male"],
    "City":["Hyderbad","Pune","Banglore","Mumbai","Delhi"],
    "fruits":["Apple","Banana","Mango","Apple","Banana"]
}

df = pd.DataFrame(data)
print(df)
label_encoder = LabelEncoder()
df["Gender_encoded"] = label_encoder.fit_transform(df["Gender"])
df["fruits_encoded"] = label_encoder.fit_transform(df["fruits"])
print(df)

   Customer_id  Gender      City  fruits
0            1    Male  Hyderbad   Apple
1            2  Female      Pune  Banana
2            3    Male  Banglore   Mango
3            4  Female    Mumbai   Apple
4            5    Male     Delhi  Banana
   Customer_id  Gender      City  fruits  Gender_encoded  fruits_encoded
0            1    Male  Hyderbad   Apple               1               0
1            2  Female      Pune  Banana               0               1
2            3    Male  Banglore   Mango               1               2
3            4  Female    Mumbai   Apple               0               0
4            5    Male     Delhi  Banana               1               1